{% extends 'basic.html' %} 
{% block title %} Blog{% endblock title %}
{% block stylecss %}
<style>
    @media (max-width: 768px) {
        .row {
            display: grid;
            grid-template-columns: 1fr;
        }
        .project-item {
            margin: 15px auto;
        }
    }

    @media (min-width: 1080px) {
        .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .project-item {
            margin: 15px auto;
        }
    }
    </style>
{% endblock stylecss %}


{% block body %} 

    <section id="projects" class="projects" style="padding: 60px 0;" data-aos="zoom-out-down">
        <div class="container" style="max-width: 1200px; margin: auto;">
            <div class="section-title" style="text-align: center; padding-bottom: 30px;">
                <h2>Projects</h2>
            </div>
            <div class="row" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                <div class="col-lg-4 col-md-4 project-item" style="width:auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin: 15px; padding: 20px; border-radius: 10px; background-color: rgba(128, 128, 128, 0.416); text-align: center;">
                    <img id="ima" src="{{ url_for('static', filename='assets/img/pet.png') }}" alt="Project Image" >
                    <h4 class="title" style="margin-top: 15px; font-weight:600"><a href="https://github.com/piyanshugehani/petSmart">PetBud</a></h4>
                    <p class="description" style="color: #bbbbbb;">PetBud is an all-in-one app that simplifies pet ownership by providing intuitive pet profiles, booking vet appointments, tracking pet locations, and finding nearby pet stores.</p>
                </div>
                <div class="col-lg-4 col-md-4 project-item" style="width:auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin: 15px; padding: 20px; border-radius: 10px; background-color: rgba(128, 128, 128, 0.416); text-align: center;">
                    <img id="ima" src="{{ url_for('static', filename='assets/img/split.png') }}" alt="Project Image" >
                    <h4 class="title" style="margin-top: 15px; font-weight:600"><a href="https://github.com/piyanshugehani/SplitIt">SplitIt</a></h4>
                    <p class="description" style="color: #bbbbbb;">An Opensource Progressive Web App made for Splitwise. It was designed to simplify expense management with features like unequal/equal splitting, expense tracking, and integrated payment gateways.</p>
                </div>
                <div class="col-lg-4 col-md-4 project-item" style="width:auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin: 15px; padding: 20px; border-radius: 10px; background-color: rgba(128, 128, 128, 0.416); text-align: center;">
                    <img id="ima" src="{{ url_for('static', filename='assets/img/lofaz.png') }}" alt="Project Image">
                    <h4 class="title" style="margin-top: 15px; font-weight:600"><a href="https://seller.lofaz.com">Lofaz Sellers</a></h4>
                    <p class="description" style="color: #bbbbbb;">Developed Web Lofaz for a startup, a robust e-commerce platform similar to Shopify, offering comprehensive solutions for
                        product management, order handling, and sales analytics.</p>
                </div>
                <div class="col-lg-4 col-md-4 project-item" style="width:auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin: 15px; padding: 20px; border-radius: 10px; background-color: rgba(128, 128, 128, 0.416); text-align: center;">
                    <img id="ima" src="{{ url_for('static', filename='assets/img/prepgem.png') }}" alt="Project Image">
                    <h4 class="title" style="margin-top: 15px; font-weight:600"><a href="https://github.com/piyanshugehani/AI-PrepGem">AI-PrepGem</a></h4>
                    <p class="description" style="color: #bbbbbb;">An AI-driven interviewer platform allows students and professionals to practice real-time interviews tailored to specific roles, receiving instant feedback on communication, technical skills, and confidence. It provides detailed performance analysis, highlighting areas for improvement.</p>
                </div>
                
                <div class="col-lg-4 col-md-4 project-item" style="width:auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin: 15px; padding: 20px; border-radius: 10px; background-color: rgba(128, 128, 128, 0.416); text-align: center;">
                    <img id="ima" src="{{ url_for('static', filename='assets/img/resto.png') }}" alt="Project Image">
                    <h4 class="title" style="margin-top: 15px; font-weight:600"><a href="https://github.com/piyanshugehani/Restro">Resto</a></h4>
                    <p class="description" style="color: #bbbbbb;">A food restaurant website, developed through Django. Offers seamless browsing experience, detailed menus, online reservations, and integrated customer reviews.</p>
                </div>
                <!-- Add more project items as needed -->
            </div>
        </div>
    </section>


{% endblock body %}

