{% extends 'basic.html' %}
{% block title %} Internship details {% endblock title %}
{% block stylecss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  #container {
    width: 88%;
    margin: 10px auto;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .con {
    background-color: rgba(128, 128, 128, 0.17);
    padding: 1%;
    border-radius: 5px;
  }

  .skills-section h3 {
    color: #149ddd;
    font-weight: 600;
  }
</style>
{% endblock stylecss %}
{% block body %}
<section id="skills" style="margin-top: 10px;" >
  <h2 style="border-bottom: 2px solid #149ddd; color:#149ddd; font-weight:800; font-size:xx-large; padding-bottom:1%;"
    id="container">Skills</h2>
  <div class="skills-section con" id="container">
    <h3>Languages and Databases</h3>
    <div class="skills">
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/python-5.svg') }}" alt="Python">
        <p>Python</p>
      </div>
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/html-5.svg') }}" alt="HTML5">
        <p>HTML5</p>
      </div>
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/css-3.svg') }}" alt="CSS3">
        <p>CSS3</p>
      </div>
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/logo-javascript.svg') }}">
        <p>Javascipt</p>
      </div>
      <div class="skill-item"><img
          src="https://static-00.iconduck.com/assets.00/database-mysql-icon-1849x2048-81vgyimd.png" alt="MySQL">
        <p>MySQL</p>
      </div>
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/postgresql.svg') }}" alt="PostgreSQL">
        <p>PostgreSQL</p>
      </div>
    </div>
  </div>
  <div class="skills-section con" id="container">
    <h3>Libraries & Frameworks</h3>
    <div class="skills">
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/django.svg') }}" alt="Django">
        <p>Django</p>
      </div>
      <div class="skill-item"><img src="https://w7.pngwing.com/pngs/87/586/png-transparent-next-js-hd-logo.png" alt="TensorFlow">
        <p>Next.js</p>
      </div>
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/react.svg') }}" alt="TensorFlow">
        <p>React.js</p>
      </div>
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/tailwind-css-2.svg') }}" alt="Keras">
        <p>Tailwind CSS</p>
      </div>
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/flask.svg') }}" alt="Flask">
        <p>Flask</p>
      </div>
      <div class="skill-item"><img
          src="https://raw.githubusercontent.com/Mikescops/bootstrapbolttheme/master/icon-bootstrap.png"
          alt="Bootstrap">
        <p>Bootstrap CSS</p>
      </div>
    </div>
  </div>
  <div class="skills-section con" id="container">
    <h3>Data Science</h3>
    <div class="skills">
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/numpy-svgrepo-com.svg') }}"
          alt="NumPy">
        <p>NumPy</p>
      </div>
      <div class="skill-item"><img src="https://railsware.com/blog/wp-content/uploads/2018/11/PythonMLPandas-icon.png"
          alt="Pandas">
        <p>Pandas</p>
      </div>
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/selenium-svgrepo-com.svg') }}"
          alt="OpenCV">
        <p>Selenium</p>
      </div>
      <div class="skill-item"><img src="https://logosdownload.com/logo/scikit-learn-logo-big.png" alt="scikit-learn">
        <p>Scikit-learn</p>
      </div>
      <div class="skill-item"><img src="https://seeklogo.com/images/M/matplotlib-logo-7676870AC0-seeklogo.com.png"
          alt="matplotlib">
        <p>Matplotlib</p>
      </div>
      <div class="skill-item"><img src="https://tse4.mm.bing.net/th?id=OIP.ZB-45nnt2NuowjMJRXg8SQAAAA&pid=Api&P=0&h=180"
          alt="matplotlib">
        <p>Tkinter</p>
      </div>
    </div>
  </div>
  
  <div class="skills-section con" id="container">
    <h3>Other</h3>
    <div class="skills">
      <div class="skill-item"><img src="https://cdn.freebiesupply.com/logos/large/2x/git-icon-logo-png-transparent.png"
          alt="Git">
        <p>Git</p>
      </div>
      <div class="skill-item"><img src="https://www.gartner.com/pi/vendorimages/postman_full-life-cycle-api-management_1633960356020.png"
        alt="Postman">
      <p>Postman</p>
    </div>
    <div class="skill-item"><img src="https://th.bing.com/th/id/OIP.uEi-BYi_M-Rnv9abB82xqwHaHa?rs=1&pid=ImgDetMain"
      alt="Vercel">
    <p>Vercel</p>
  </div>
      <div class="skill-item"><img src="https://tse1.mm.bing.net/th?id=OIP.WCymM8HllQ_KltzNeoU11AHaHa&pid=Api&P=0&h=180"
          alt="Heroku">
        <p>Heroku</p>
      </div>
      <div class="skill-item"><img src="{{ url_for('static', filename='assets/img/wordpress-tile.svg') }}" alt="Heroku">
        <p>Wordpress (CMS)</p>
      </div>
    </div>
  </div>
</section>

<section id="experience" class="container" style="margin-top: -3rem;">
  <h2 style="color: #149ddd; border-bottom:2px solid #149ddd; padding-bottom:1%; font-weight:700;">Experience</h2>
  
  <div class="experience-item">
    <h3>KothariTech Pvt Ltd</h3>
    <p>Position: Lead Web Developer Intern</p>
    <p>Duration: June 2024 - August 2024</p>
    <p>Responsibilities:</p>
    <ul>
      <li>Developed and delivered a production-ready <a href="https://seller.lofaz.com" target="_blank">seller site</a> using React and Redux within one month.</li>
      <li>Integrated and displayed API data on the frontend, ensuring seamless communication with the backend.</li>
      <li>Coordinated with developer interns to ensure smooth project execution and timely delivery.</li>
    </ul>
  </div>
  <div class="experience-item">
    <h3>Cognifyz Technologies Pvt Ltd</h3>
    <p>Position: Web Developer Intern</p>
    <p>Duration: March 2024 - April 2024</p>
    <p>Responsibilities:</p>
    <ul>
      <li>Demonstrated strong problem-solving skills and effective time management under tight deadlines.</li>
      <li>Contributed to the creation of landing pages for the company using HTML, CSS, Tailwind CSS, and Vanilla
        JavaScript.</li>
      <li>Collaborated with front-end developers to enhance user experience.</li>
      <li>Optimized applications for maximum speed and scalability.</li>
    </ul>
  </div>
</section>

{% endblock body %}